.env
*.joblib
data/raw/*.csv
data/raw/Zillow Data/
data/processed/*.csv
data/processed/*.parquet
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.DS_Store
venv/
*.pyenv
reports/
# Word/Excel temp lock files
~$*
